.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -25px;
  width: 4rem;
  height: 4rem;
  border-width: 0.5rem;
  text-align: center;
  font-size: 10px;
}